body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  overflow-x: hidden;
  user-select: none;
}

.app-layout {
  display: flex;
  background-color: black;
}

/* Main Area */
.main-area {
  width: 100%;
  transition: margin-left 0.3s ease;
}

/* Sidebar opened */
.main-area.sidebar-open {
  margin-left: 280px;
}

/* Sidebar closed */
.main-area.sidebar-closed {
  margin-left: 0;
}

.content {
  padding: 0px;
  padding-left: 50px;
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1040;
}

/* Card Hover */
.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.4) !important;
}

/* Mobile */
@media (max-width: 768px) {
  .main-area,
  .main-area.sidebar-open,
  .main-area.sidebar-closed {
    margin-left: 10px;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #22c55e,
    #3b82f6
  );
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #16a34a,
    #2563eb
  );
}