body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  overflow-x: hidden;
  user-select: none;
}

.app-layout {
  display: flex;
  background-color: black;
}

/* Main Area */
.main-area {
  width: 100%;
  transition: margin-left 0.3s ease;
  
}

/* Sidebar opened */
.main-area.sidebar-open {
  margin-left: 280px;
  /* padding-left: 170px;  */
}

/* Sidebar closed */
.main-area.sidebar-closed {
  margin-left: 0;

  
}
@media screen and (min-width:768px) {
  .main-area.sidebar-closed {
  margin-left: 0;
 padding-left: 70px;
  
}
}

.content {
  padding: 0px;
  /* padding-left: 50px; */
}

/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

/* Card Hover */
.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4) !important;
}

/* Mobile */
@media (max-width: 768px) {

  .main-area,
  .main-area.sidebar-open,
  .main-area.sidebar-closed {
    /* margin-left: 10px; */
    width: 100%;
  }

  .quote-text {
    font-size: 1rem;
  }

  .quote-box {
    padding: 15px;
    border-radius: 15px;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,
      #22c55e,
      #3b82f6);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom,
      #16a34a,
      #2563eb);
}

.quote-box {
  background: linear-gradient(135deg, #111827, #1e293b);
  color: white;
  border: 1px solid #22c55e;
  border-radius: 20px;
  padding: 7px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);

  animation: quoteFade 1s ease;
  transition: all 0.3s ease;
}

.quote-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(34, 197, 94, 0.4);
}

.quote-text {
  font-size: 1.2rem;
  font-style: italic;
  margin: 10px 0;
  line-height: 1.7;
  animation: floatText 3s ease-in-out infinite;
}

.quote-icon {
  color: #22c55e;
  font-size: 1.8rem;
  font-weight: bold;
}

@keyframes quoteFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatText {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .quote-text {
    font-size: 1rem;
  }

  .quote-box {
    padding: 15px;
    border-radius: 15px;
  }
}